<p id="notice"><%= notice %></p>

<h1>年級管理</h1>
<button class="btn btn-primary"><%= link_to '新增年級', new_grade_path %></button>
<table class="table">
  <thead class="thead">
    <tr>
      <th>年級名稱
      &nbsp;
        <a class="sorter" id="name-ASC" href="/grades?orderParam=name&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" id='name-DESC' href="/grades?orderParam=name&&order=DESC"><img src="/sort-down.png"></a>
      </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td class="column-name"><%= grade.name %></td>
        <td ><%= link_to '編輯', edit_grade_path(grade) %></td>
        <td><%= link_to '刪除', grade, method: :delete, data: { confirm: '你確定嗎？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @grades, :previous_label => '上一頁', :next_label => '下一頁' %>
<br>

