<script type="text/javascript" src="/js/updateQuestionOptions.js"></script>
<p id="notice"><%= notice %></p>
<h1>編輯題目</h1>

<%= simple_form_for @question, url:paper_question_path(@paper,@question)  do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :position, label: '題號' %>
  <%= f.input :title,as: :text,input_html:{rows: 5}, label: '題幹' %>
  <%= f.input :title_attr,as: :string, wrapper_html: { id: 'titleString' },input_html:{id: 'titleString'},label: '附檔'%>
  <img class="imgTitle">
  <%= f.input :title_attr,as: :file,label: false %>
  <label for="question_remove_title_attr_true" style="font-weight:normal;">
    <input class="check_boxes optional" type="checkbox" value="true" name="question[remove_title_attr]" id="question_remove_title_attr_true">&nbsp;刪除
  </label>
  <%= f.input :question_type, collection: [ "單選", "複選", "非選"], :label => "題型", :include_blank => false %>
  <div id="option-board">
    <% if  @question.optionCount == 4 && @question.question_type !="非選"%>
    <%= f.input :questionA, :input_html => { :class => "question_option" },label: '選項A' %>
    <%= f.input :questionA_attr,as: :string,wrapper_html: { id: 'qAString' },input_html:{id: 'qAString'}, label: '附檔A'%>
    <img class="imgA">
    <%= f.input :questionA_attr,as: :file, label: false %>
    <label for="question_remove_qA_attr_true" style="font-weight:normal;">
      <input class="check_boxes optional" type="checkbox" value="true" name="question[remove_questionA_attr]" id="question_remove_qA_attr_true">&nbsp;刪除
    </label>
    <%= f.input :questionB, :input_html => { :class => "question_option" }, label: '選項B' %>
    <%= f.input :questionB_attr,as: :string, wrapper_html: { id: 'qBString' },input_html:{id: 'qBString'}, label: '附檔B'%>
    <img class="imgB">
    <%= f.input :questionB_attr,as: :file, label: false %>
    <label for="question_remove_qB_attr_true" style="font-weight:normal;">
      <input class="check_boxes optional" type="checkbox" value="true" name="question[remove_questionB_attr]" id="question_remove_qB_attr_true">&nbsp;刪除
    </label>
    <%= f.input :questionC, :input_html => { :class => "question_option" }, label: '選項C' %>
    <%= f.input :questionC_attr,as: :string,wrapper_html: { id: 'qCString' },input_html:{id: 'qCString'}, label: '附檔C'%>
    <img class="imgC">
    <%= f.input :questionC_attr,as: :file, label: false %>
    <label for="question_remove_qC_attr_true" style="font-weight:normal;">
      <input class="check_boxes optional" type="checkbox" value="true" name="question[remove_questionC_attr]" id="question_remove_qC_attr_true">&nbsp;刪除
    </label>
    <%= f.input :questionD, :input_html => { :class => "question_option" }, label: '選項D' %>
    <%= f.input :questionD_attr,as: :string,wrapper_html: { id: 'qDString' },input_html:{id: 'qDString'}, label: '附檔D'%>
    <img class="imgD">
    <%= f.input :questionD_attr,as: :file, label: false %>
    <label for="question_remove_qD_attr_true" style="font-weight:normal;">
      <input class="check_boxes optional" type="checkbox" value="true" name="question[remove_questionD_attr]" id="question_remove_qD_attr_true">&nbsp;刪除
    </label>
    <% elsif @question.optionCount == 5 && @question.question_type !="非選"%>
    <%= f.input :questionA, :input_html => { :class => "question_option" },label: '選項A' %>
    <%= f.input :questionA_attr,as: :string,wrapper_html: { id: 'qAString' },input_html:{id: 'qAString'}, label: '附檔A'%>
    <img class="imgA">
    <%= f.input :questionA_attr,as: :file, label: false %>
    <label for="question_remove_title_attr_true" style="font-weight:normal;">
      <input class="check_boxes optional" type="checkbox" value="true" name="question[remove_questionA_attr]" id="question_remove_qA_attr_true">&nbsp;刪除
    </label>
    <%= f.input :questionB, :input_html => { :class => "question_option" }, label: '選項B' %>
    <%= f.input :questionB_attr,as: :string,wrapper_html: { id: 'qBString' },input_html:{id: 'qBString'}, label: '附檔B'%>
    <img class="imgB">
    <%= f.input :questionB_attr,as: :file, label: false %>
    <label for="question_remove_title_attr_true" style="font-weight:normal;">
      <input class="check_boxes optional" type="checkbox" value="true" name="question[remove_questionB_attr]" id="question_remove_qB_attr_true">&nbsp;刪除
    </label>
    <%= f.input :questionC, :input_html => { :class => "question_option" }, label: '選項C' %>
    <%= f.input :questionC_attr,as: :string,wrapper_html: { id: 'qCString' },input_html:{id: 'qCString'}, label: '附檔C'%>
    <img class="imgC">
    <%= f.input :questionC_attr,as: :file, label: false %>
    <label for="question_remove_title_attr_true" style="font-weight:normal;">
      <input class="check_boxes optional" type="checkbox" value="true" name="question[remove_questionC_attr]" id="question_remove_qC_attr_true">&nbsp;刪除
    </label>
    <%= f.input :questionD, :input_html => { :class => "question_option" }, label: '選項D' %>
    <%= f.input :questionD_attr,as: :string,wrapper_html: { id: 'qDString' },input_html:{id: 'qDString'}, label: '附檔D'%>
    <img class="imgD">
    <%= f.input :questionD_attr,as: :file, label: false %>
    <label for="question_remove_title_attr_true" style="font-weight:normal;">
      <input class="check_boxes optional" type="checkbox" value="true" name="question[remove_questionD_attr]" id="question_remove_qD_attr_true">&nbsp;刪除
    </label>
    <%= f.input :questionE, :input_html => { :class => "question_option" }, label: '選項E' %>
    <%= f.input :questionE_attr,as: :string,wrapper_html: { id: 'qEString' },input_html:{id: 'qEString'}, label: '附檔E'%>
    <img class="imgE">
    <%= f.input :questionE_attr,as: :file, label: false %>
    <label for="question_remove_title_attr_true" style="font-weight:normal;">
      <input class="check_boxes optional" type="checkbox" value="true" name="question[remove_questionE_attr]" id="question_remove_qE_attr_true">&nbsp;刪除
    </label>
    <% elsif @question.optionCount >= 6 && @question.question_type !="非選"%>
    <%= f.input :questionA, :input_html => { :class => "question_option" },label: '選項A' %>
    <%= f.input :questionA_attr,as: :string,wrapper_html: { id: 'qAString' },input_html:{id: 'qAString'}, label: '附檔A'%>
    <img class="imgA">
    <%= f.input :questionA_attr,as: :file, label: false %>
    <label for="question_remove_title_attr_true" style="font-weight:normal;">
      <input class="check_boxes optional" type="checkbox" value="true" name="question[remove_questionA_attr]" id="question_remove_qA_attr_true">&nbsp;刪除
    </label>
    <%= f.input :questionB, :input_html => { :class => "question_option" }, label: '選項B' %>
    <%= f.input :questionB_attr,as: :string,wrapper_html: { id: 'qBString' },input_html:{id: 'qBString'}, label: '附檔B'%>
    <img class="imgB">
    <%= f.input :questionB_attr,as: :file, label: false %>
    <label for="question_remove_title_attr_true" style="font-weight:normal;">
      <input class="check_boxes optional" type="checkbox" value="true" name="question[remove_questionB_attr]" id="question_remove_qB_attr_true">&nbsp;刪除
    </label>
    <%= f.input :questionC, :input_html => { :class => "question_option" }, label: '選項C' %>
    <%= f.input :questionC_attr,as: :string,wrapper_html: { id: 'qCString' },input_html:{id: 'qCString'}, label: '附檔C'%>
    <img class="imgC">
    <%= f.input :questionC_attr,as: :file, label: false %>
    <label for="question_remove_title_attr_true" style="font-weight:normal;">
      <input class="check_boxes optional" type="checkbox" value="true" name="question[remove_questionC_attr]" id="question_remove_qC_attr_true">&nbsp;刪除
    </label>
    <%= f.input :questionD, :input_html => { :class => "question_option" }, label: '選項D' %>
    <%= f.input :questionD_attr,as: :string,wrapper_html: { id: 'qDString' },input_html:{id: 'qDString'}, label: '附檔D'%>
    <img class="imgD">
    <%= f.input :questionD_attr,as: :file, label: false %>
    <label for="question_remove_title_attr_true" style="font-weight:normal;">
      <input class="check_boxes optional" type="checkbox" value="true" name="question[remove_questionD_attr]" id="question_remove_qD_attr_true">&nbsp;刪除
    </label>
    <%= f.input :questionE, :input_html => { :class => "question_option" }, label: '選項E' %>
    <%= f.input :questionE_attr,as: :string,wrapper_html: { id: 'qEString' },input_html:{id: 'qEString'}, label: '附檔E'%>
    <img class="imgE">
    <%= f.input :questionE_attr,as: :file, label: false %>
    <label for="question_remove_title_attr_true" style="font-weight:normal;">
      <input class="check_boxes optional" type="checkbox" value="true" name="question[remove_questionE_attr]" id="question_remove_qE_attr_true">&nbsp;刪除
    </label>
    <%= f.input :questionF, :input_html => { :class => "question_option" }, label: '選項F' %>
    <%= f.input :questionF_attr,as: :string,wrapper_html: { id: 'qFString' },input_html:{id: 'qFString'}, label: '附檔F'%>
    <img class="imgF">
    <%= f.input :questionF_attr,as: :file, label: false %>
    <label for="question_remove_title_attr_true" style="font-weight:normal;">
      <input class="check_boxes optional" type="checkbox" value="true" name="question[remove_questionF_attr]" id="question_remove_qF_attr_true">&nbsp;刪除
    </label>
    <% end %>
  </div>
    <div id="option-buttons">
      <span id="add-option"><img src="/plus.png" class="pixel-icon"> 新增選項</span>
      <span id="delete-option"><img src="/minus.png" class="pixel-icon"> 刪除選項</span>
    </div>
  <br>
  <br>
  <br>
  <div id="answer-board">
    <% if  @question.question_type=="複選" && @question.optionCount == 4%>
    <%= f.input :answer, collection: [ "A", "B", "C","D"],:item_wrapper_class => 'inline', as: :check_boxes,input_html:{class: "question_answer_checkbox"}, label: ' 答案 ' %>
    <% elsif @question.question_type=="複選" && @question.optionCount == 5%>
    <%= f.input :answer, collection: [ "A", "B", "C","D","E"],:item_wrapper_class => 'inline', as: :check_boxes,input_html:{class: "question_answer_checkbox"}, label: ' 答案 ' %>
    <% elsif @question.question_type=="複選" && @question.optionCount == 6%>
    <%= f.input :answer, collection: [ "A", "B", "C","D","E","F"],:item_wrapper_class => 'inline', as: :check_boxes,input_html:{class: "question_answer_checkbox"}, label: ' 答案 ' %>
    <% elsif  @question.question_type=="單選" && @question.optionCount == 4%>
    <%= f.input :answer, collection: [ "A", "B", "C","D"],:item_wrapper_class => 'inline', as: :radio_buttons,input_html:{class: "question_answer_radio"}, label: ' 答案 ' %>
    <% elsif  @question.question_type=="單選" && @question.optionCount == 5%>
    <%= f.input :answer, collection: [ "A", "B", "C","D","E"],:item_wrapper_class => 'inline', as: :radio_buttons,input_html:{class: "question_answer_radio"}, label: ' 答案 ' %>
    <% elsif  @question.question_type=="單選" && @question.optionCount == 6%>
    <%= f.input :answer, collection: [ "A", "B", "C","D","E","F"],:item_wrapper_class => 'inline', as: :radio_buttons,input_html:{class: "question_answer_radio"}, label: ' 答案 ' %>    
    <% end %>
  </div>
  <%= f.input :analysis,as: :text,input_html:{rows: 3}, label: '詳解' %>  
  <%= f.input :analysis_att,as: :string,wrapper_html: { id: 'ansString' },input_html:{id: 'ansString'}, label: '附檔' %>
  <%= f.input :analysis_att,as: :file, label: false %>
  <img class="imgAns">
  <label for="question_remove_title_attr_true" style="font-weight:normal;">
    <input class="check_boxes optional" type="checkbox" value="true" name="question[remove_analysis_att]" id="question_remove_ans_attr_true">&nbsp;刪除
  </label>  
  <%= f.input :analysis_url, label: '影片URL' %>  
  <%= f.input :difficulty_degree, collection: [ "低", "中", "高"], :label => "難易度"%>
  <%= f.input :knowledge_point, label: '知識點' %>    
  <p>備註：請用「;」來分隔知識點</p>
  <%= f.input :active,:item_wrapper_class => 'inline', as: :radio_buttons, label: ' 有效性 ' %>
  <%= f.input :paper_id,as: :hidden,input_html: {value: @paper.id} %>  
  <%= f.input :optionCount,as: :hidden %>  
  <%= f.input :answer,as: :hidden%>  
  <%= f.button :submit , "送出", class: "btn btn-primary" %>
  <a href='/papers/<%=@paper.id%>/questions'><button class="btn btn-primary">上一頁</button></a>
<% end %>

<script type="text/javascript" src="/js/previewImage.js"></script> 