<script>
$(function(){

  var paperId = $("#paper_id").val();

  $("#batch-active").click(function(){
    var question_ids = []
    var active = true
    var count = 0;
    $(".question_id:checked").each(function(){
      question_ids.push($(this).val());
    });
    ajaxBatchUpdate(question_ids,active,count)
  });
  $("#batch-inactive").click(function(){
    var question_ids = [];
    var active = false;
    var count = 0;
    $(".question_id:checked").each(function(){
      question_ids.push($(this).val());
    });
    ajaxBatchUpdate(question_ids,active,count)
  });
  $("#check-all").click(function(){
    $(".question_id").each(function(){
      $(this).attr("checked","checked")
    });
  })

  function ajaxBatchUpdate(question_ids,active,count){
    $.ajax({
        type: "POST",
        url: "/papers/"+paperId+"/questions/"+question_ids[count],
        dataType: "script",
        contentType: 'application/json',
        data: JSON.stringify({ active:active,paper_id:parseInt(paperId), _method:'put',id:question_ids[count] })
        })
        .complete(function(data){
          console.log(count)
          if(count< question_ids.length-1){
            count += 1;
            ajaxBatchUpdate(question_ids,active,count);
          }
        })
  }

})
</script> 

<p id="notice"><%= notice %></p>

<h1>題目列表</h1>
<button class="btn btn-primary"><%= link_to '新增題目', new_paper_question_path %></button>
<button class="btn btn-success" id="batch-active">批次有效</button>
<button class="btn btn-danger" id="batch-inactive">批次無效</button>
<table class="table" id="patents">
  <thead>
    <tr class="thead">
      <th><button class="btn btn-info" id="check-all">全選</button></th>
      <th>題號&nbsp;
        <a class="sorter" id="name-ASC" href="/papers/<%= @paper.id%>/questions?orderParam=position&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" id='name-DESC' href="/papers/<%= @paper.id%>/questions?orderParam=position&&order=DESC"><img src="/sort-down.png"></a>
      </th>
      <th>題幹&nbsp;
        <a class="sorter" id="name-ASC" href="/papers/<%= @paper.id%>/questions?orderParam=title&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" id='name-DESC' href="/papers/<%= @paper.id%>/questions?orderParam=title&&order=DESC"><img src="/sort-down.png"></a>      
      </th>
      <th>題型&nbsp;
        <a class="sorter" id="name-ASC" href="/papers/<%= @paper.id%>/questions?orderParam=question_type&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" id='name-DESC' href="/papers/<%= @paper.id%>/questions?orderParam=question_type&&order=DESC"><img src="/sort-down.png"></a>      
      </th>
      <th>選項</th>
      <th>答案</th>
      <th>詳解&nbsp;
        <a class="sorter" id="name-ASC" href="/papers/<%= @paper.id%>/questions?orderParam=analysis&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" id='name-DESC' href="/papers/<%= @paper.id%>/questions?orderParam=analysis&&order=DESC"><img src="/sort-down.png"></a>            
      </th>
      <th>有效性&nbsp;
        <a class="sorter" id="name-ASC" href="/papers/<%= @paper.id%>/questions?orderParam=active&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" id='name-DESC' href="/papers/<%= @paper.id%>/questions?orderParam=active&&order=DESC"><img src="/sort-down.png"></a>            
      </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><input type="checkbox" class="question_id" value=<%= question.id %> orderdata=<%= question.position %>></td>
        <td><%= question.position %></td>     
        <td><%= question.title %></td>
        <td><%= question.question_type %></td>
        <td>
        <%if question.optionCount == 3 && question.question_type!="非選"%>
        A:<%= question.questionA %><br>
        B:<%= question.questionB %><br>
        C:<%= question.questionC %>
        <% elsif question.optionCount == 4 && question.question_type!="非選"%>
        A:<%= question.questionA %><br>
        B:<%= question.questionB %><br>
        C:<%= question.questionC %><br>
        D:<%= question.questionD %>
        <% elsif question.optionCount == 5 && question.question_type!="非選"%>
        A:<%= question.questionA %><br>
        B:<%= question.questionB %><br>
        C:<%= question.questionC %><br>
        D:<%= question.questionD %><br>
        E:<%= question.questionE %>
        <% elsif question.optionCount >= 6 && question.question_type!="非選"%>
        A:<%= question.questionA %><br>
        B:<%= question.questionB %><br>
        C:<%= question.questionC %><br>
        D:<%= question.questionD %><br>
        E:<%= question.questionE %><br>
        F:<%= question.questionF %>
        <% end %>
        </td>
        <td><%= question.answer %></td>
        <td><%= question.analysis %></td>
        <td>
        <% if question.active == true%>
        <span class="active">已啟用</span>
        <% else %>
        <span class="inactive">未啟用</span>
        <% end %>
        </td>
        <td><%= link_to '檢視題目與附圖', paper_question_path(@paper,question),target: '_blank' %></td>
        <td><%= link_to '編輯題目', edit_paper_question_path(@paper,question) %></td>
        <td><%= link_to '刪除題目', paper_question_path(@paper,question), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<input type="hidden" id="paper_id" value=<%= @paper.id %>>
<br>
<%= will_paginate @questions, :previous_label => '上一頁', :next_label => '下一頁' %>