<script>

$(function(){
  $("#batch-active").click(function(){
    var paper_subject_ids = []
    var count = 0
    var active = true
    $(".paper_subject_id:checked").each(function(){
      paper_subject_ids.push($(this).val());
    });
    ajaxBatchUpdate(paper_subject_ids,active,count)
  });
  $("#batch-inactive").click(function(){
    var paper_subject_ids = []
    var count = 0
    var active = false
    $(".paper_subject_id:checked").each(function(){
      paper_subject_ids.push($(this).val());
    });
    ajaxBatchUpdate(paper_subject_ids,active,count)
  });
  $("#check-all").click(function(){
    $(".paper_subject_id").each(function(){
      $(this).attr("checked","checked")
    });
  })
  function ajaxBatchUpdate(paper_subject_ids,active,count){
    $.ajax({
        type: "POST",
        url: "/paper_subjects/"+paper_subject_ids[count],
        dataType: "script",
        contentType: 'application/json',
        data: JSON.stringify({ active:active, _method:'put' })
        })
        .complete(function(data){
          if(count< paper_subject_ids.length-1){
            count += 1;
            ajaxBatchUpdate(paper_subject_ids,active,count);
          }
        })
        }
})

</script> 

<p id="notice"><%= notice %></p>

<h1>試卷科目管理</h1>
<button class="btn btn-primary"><%= link_to '新增試卷科目', new_paper_subject_path %></button>
<button class="btn btn-success" id="batch-active">批次有效</button>
<button class="btn btn-danger" id="batch-inactive">批次無效</button>
<table class="table">
  <thead>
    <tr class="thead">
      <th><button class="btn btn-info" id="check-all">全選</button></th>
      <th>試卷科目&nbsp;
        <a class="sorter" id="name-ASC" href="/paper_subjects?orderParam=title&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" id='name-DESC' href="/paper_subjects?orderParam=title&&order=DESC"><img src="/sort-down.png"></a>
      </th>
      <th>顯示科目&nbsp;
        <a class="sorter" id="name-ASC" href="/paper_subjects?orderParam=title_view&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" id='name-DESC' href="/paper_subjects?orderParam=title_view&&order=DESC"><img src="/sort-down.png"></a>
      </th>
      <th>對應科目&nbsp;
        <a class="sorter" id="name-ASC" href="/paper_subjects?relation=subjects&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" id='name-DESC' href="/paper_subjects?relation=subjects&&order=DESC"><img src="/sort-down.png"></a>
      </th>
      <th>有效性&nbsp;
        <a class="sorter" id="name-ASC" href="/paper_subjects?orderParam=active&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" id='name-DESC' href="/paper_subjects?orderParam=active&&order=DESC"><img src="/sort-down.png"></a>
      </th>
      <th colspan="2">
      </th>
    </tr>
  </thead>

  <tbody>
    <% @paper_subjects.each do |paper_subject| %>
      <tr>
        <td><input type="checkbox" class="paper_subject_id" value=<%= paper_subject.id %>></td>
        <td><span class="column-name"><%= paper_subject.title %></span></td>
        <td><span class="column-name"><%= paper_subject.title_view %></span></td>
        <td><span class="column-name">
        <% paper_subject.subjects.each do |ps| %>
          <%= ps.name %>,
        <% end %>
        </span></td>
        <td>
        <% if paper_subject.active == true%>
        <span class="active">已啟用</span>
        <% else %>
        <span class="inactive">未啟用</span>
        <% end %>
        </td>
        <td><%= link_to '編輯', edit_paper_subject_path(paper_subject) %></td>
        <td><%= link_to '刪除', paper_subject, method: :delete, data: { confirm: '您確定嗎?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @paper_subjects, :previous_label => '上一頁', :next_label => '下一頁' %>
