<p id="notice"><%= notice %></p>

<script>

$(function(){
  $("#batch-active").click(function(){
    var paper_set_ids = []
    var count = 0
    var active = true
    $(".paper_set_id:checked").each(function(){
      paper_set_ids.push($(this).val());
    });
    ajaxBatchUpdate(paper_set_ids,active,count)
  });
  $("#batch-inactive").click(function(){
    var paper_set_ids = []
    var count = 0
    var active = false
    $(".paper_set_id:checked").each(function(){
      paper_set_ids.push($(this).val());
    });
    ajaxBatchUpdate(paper_set_ids,active,count)
  });
  $("#check-all").click(function(){
    $(".paper_set_id").each(function(){
      $(this).attr("checked","checked")
    });
  })
  function ajaxBatchUpdate(paper_set_ids,active,count){
    $.ajax({
        type: "POST",
        url: "/paper_sets/"+paper_set_ids[count],
        dataType: "script",
        contentType: 'application/json',
        data: JSON.stringify({ active:active, _method:'put' })
        })
        .complete(function(data){
          if(count< paper_set_ids.length-1){
            count += 1;
            ajaxBatchUpdate(paper_set_ids,active,count);
          }
        })
        }
})

</script> 

<h1>試卷包管理</h1>
<button class="btn btn-primary"><%= link_to '新增試卷包', new_paper_set_path %></button>
<button class="btn btn-success" id="batch-active">批次有效</button>
<button class="btn btn-danger" id="batch-inactive">批次無效</button>
<table class="table">
  <thead>
    <tr class="thead">
      <th><button class="btn btn-info" id="check-all">全選</button></th>
      <th>試卷包名稱&nbsp;
        <a class="sorter" id="name-ASC" href="/paper_sets?orderParam=title&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" id='name-DESC' href="/paper_sets?orderParam=title&&order=DESC"><img src="/sort-down.png"></a>
      </th>
      <th>售價設定(點)&nbsp;
        <a class="sorter" id="name-ASC" href="/paper_sets?orderParam=price&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" id='name-DESC' href="/paper_sets?orderParam=price&&order=DESC"><img src="/sort-down.png"></a>
      </th>
      <th>上架日期&nbsp;
        <a class="sorter" id="name-ASC" href="/paper_sets?orderParam=public_date&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" id='name-DESC' href="/paper_sets?orderParam=public_date&&order=DESC"><img src="/sort-down.png"></a>
      </th>
      <th>描述&nbsp;
        <a class="sorter" id="name-ASC" href="/paper_sets?orderParam=description&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" id='name-DESC' href="/paper_sets?orderParam=description&&order=DESC"><img src="/sort-down.png"></a>
      </th>
      <th>有效性&nbsp;
        <a class="sorter" id="name-ASC" href="/paper_sets?orderParam=active&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" id='name-DESC' href="/paper_sets?orderParam=active&&order=DESC"><img src="/sort-down.png"></a>
      </th>
      <th>購買次數&nbsp;
        <a class="sorter" id="name-ASC" href="/paper_sets?relation=buy_logs&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" id='name-DESC' href="/paper_sets?relation=buy_logs&&order=DESC"><img src="/sort-down.png"></a>
      </th>
      <th colspan="3">
      </th>
    </tr>
  </thead>

  <tbody>
    <% @paper_sets.each do |paper_set| %>
      <tr>
        <td><input type="checkbox" class="paper_set_id" value=<%= paper_set.id %>></td>
        <td><span class="column-name"><%= paper_set.title %></span></td>
        <td><span class="column-name"><%= paper_set.price %></span></td>
        <td><span class="column-name"><%= paper_set.public_date %></span></td>
        <td><span class="column-name"><%= paper_set.description %></span></td>
        <td>
          <% if paper_set.active == true%>
          <span class="active">已啟用</span>
          <% else %>
          <span class="inactive">未啟用</span>
          <% end %>
        </td>
        <td><span class="column-name"><%= paper_set.student_buy_logs.size %></span></td>
        <td><%= link_to '編輯', edit_paper_set_path(paper_set) %></td>
        <td><%= link_to '刪除', paper_set, method: :delete, data: { confirm: '您確定嗎?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @paper_sets, :previous_label => '上一頁', :next_label => '下一頁' %>

