<p id="notice"><%= notice %></p>

<h1>科目管理</h1>
<button class="btn btn-primary"><%= link_to '建立新科目', new_subject_path %></button>
<table class="table">
  <thead>
    <tr class="thead">
      <th>科目名稱&nbsp;
        <a class="sorter" id="name-ASC" href="/subjects?orderParam=name&&order=ASC"><img src="/sort-up.png"></a>
        <a class="sorter" id='name-DESC' href="/subjects?orderParam=name&&order=DESC"><img src="/sort-down.png"></a>
      </th>
      <th colspan="3">
      </th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><span ><%= subject.name %></span></td>
        <td><%= link_to '編輯', edit_subject_path(subject) %></td>
        <td><%= link_to '刪除', subject, method: :delete, data: { confirm: '你確定嗎?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @subjects, :previous_label => '[上一頁]', :next_label => '[下一頁]' %>

<br>


